* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding: 15px 15px;
    background-color: beige;
}

.post__create-form {
    background-image: url('/@img/img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
    padding: 15px 15px;
    margin-right: 25px;
    position: relative;

    .post__titleForm {
        margin-bottom: 61px;
        font-size: 35px;
    }

    .post__input-title,
    .post__input-email,
    .post__input-body,
    .post__input-data {
        font-size: 16px;
        padding: 0 10px;
        border-radius: 3px;
        width: 250px;
        height: 35px;
    }

    .post__submit {
        cursor: pointer;
        padding: 10px 25px;
        font-size: 16px;
        margin-top: 35px;
        border-radius: 3px;
        background-color: rgb(170, 183, 179);
        transition: 0.3s ease;

        &:hover {
            background-color: rgb(77, 83, 83);

        }
    }
}

.post__card {
    padding: 0 15px;
    background-color: rgb(179, 179, 179);
    margin-bottom: 15px;
    border-radius: 10px;
    padding-bottom: 10px;

    .post__title {
        margin-bottom: 10px;
    }

    .post__text {
        margin-bottom: 10px;
    }

    .post__deleteBtn {
        margin: 10px 0;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: rgb(120, 121, 121);
        }
    }

    .post__email {
        margin-bottom: 10px;
    }
}

.message {
    position: absolute;
    bottom: 20%;
}

::-webkit-input-placeholder {
    font-size: 16px;
}

:-moz-placeholder {
    font-size: 16px;
}

::-moz-placeholder {
    font-size: 16px;
}

:-ms-input-placeholder {
    font-size: 16px;
}